body {
  background-image: url("https://image.freepik.com/vetores-gratis/modelo-de-plano-de-fundo-branco-retangular_8167-580.jpg");
  background-size: auto 100vh ;
  font-family: Arial;  
  height : 100vh;
}

.menu {
  background-color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.site-subtitle,
.site-title {
  color: blacksmoke;
  text-align: center;
}

.site-subtitle {
  font-style: italic; 
}
